body{
    min-width: 500px;
}

a {
    color: #1E90FF;
}

.form{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 170px;
    border: 2px solid #1E90FF;
}
.form > input:not([type='submit']){
    margin-left: 28%;
}

.form > label{
    margin-left: 40%;
}

.form > input[type='submit'] {
    margin-top: 10px;
    margin-left: 43%;
}

#reglabel{
    margin-left: 32%;
}
