/*1058,     832,      832*/

@media screen and (min-width: 1058px) {
    * {
        margin: 0;
        padding: 0;
    }

    html, body, #container {
        height: 100%;
    }

    body {
        background-color: grey;
    }

    a {
        color: #1E90FF;
    }

    .form {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 170px;
        border: 2px solid #1E90FF;
        text-align: center;
    }

    .form > input[type='submit'] {
        margin-top: 10px;
    }

    #tablet {
        display: none
    }

    #mobile {
        display: none
    }

    #pc {
        width: 20px;
        margin: 5px auto;
        color: #1E90FF;
    }

    #suLinkStyle {
        float: right;
        text-decoration: none;
        text-align: center;
        border: 2px solid #1E90FF;
        width: 72px;
        height: 75%;
    }

    #liLinkStyle {
        float: left;
        text-decoration: none;
        text-align: center;
        border: 2px solid #1E90FF;
        width: 64px;
        height: 75%;
    }

    #divStyle {
        /*margin-top: 20px;*/
        padding-top: 90px;
        margin-left: auto;
        margin-right: auto;
        width: 170px;
        height: 30px;
        fontSize: 20px;
        fontWeight: 'bold';
    }

    #root {
        height: 100%;
    }

    #container {
        height: 100%;
        margin: 0 120px;
        background-color: white;
    }

    #errorWrong {
        color: red;
        display: none;
    }

    #errorExists {
        color: red;
        display: none;
    }

    #mainform {
        padding-top: 150px;
    }

    .xbtn {
        height: 30px;
        margin-top: 25px;
        margin-left: 16px;
        border: 2px solid red;
    }
}

@media screen and (min-width: 832px) and (max-width: 1057px) {


    a {
        color: #1E90FF;
    }

    .form {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        height: 170px;
        border: 2px solid #1E90FF;
        border-radius: 30px;
        text-align: center;
    }


    .form > input[type='submit'] {
        margin-top: 10px;
    }


    #tablet {
        width: 70px;
        margin: 5px auto;
        color: #1E90FF;
    }

    #mobile {
        display: none
    }

    #pc {
        display: none
    }

    #suLinkStyle {
        float: right;
        margin-right: 20px;
        text-decoration: none;
        text-align: center;
        border: 2px solid #1E90FF;
        border-radius: 20px;
        width: 72px;
        height: 75%;
    }

    #liLinkStyle {
        float: left;
        margin-left: 20px;
        text-decoration: none;
        text-align: center;
        border: 2px solid #1E90FF;
        width: 64px;
        height: 75%;
        border-radius: 20px;

    }

    #divStyle {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        height: 30px;
        fontSize: 20px;
        fontWeight: 'bold';
    }

    #errorWrong {
        color: red;
        display: none;
    }

    #errorExists {
        color: red;
        display: none;
    }

    .xbtn {
        height: 30px;
        margin-top: 25px;
        margin-left: 16px;
        border: 2px solid red;
    }
}

@media screen and (max-width: 831px) {

    body {
        min-width: 500px;
    }

    a {
        /*color: #1E90FF;*/
        color: #ff3a47;
    }

    .form {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 170px;
        border-radius: 30px;
        border: 2px solid #ff3a47;
        text-align: center;
    }

    .form > input[type='submit'] {
        margin-top: 10px;
    }

    #tablet {
        display: none
    }

    #mobile {
        width: 70px;
        margin: 5px auto;
        color: #ff3a47;
    }

    #pc {
        display: none
    }

    #divStyle {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 30px;
        fontSize: 20px;
        fontWeight: 'bold';
    }

    #suLinkStyle {
        float: right;
        text-decoration: none;
        text-align: center;
        border: 2px solid #ff3a47;
        width: 72px;
        height: 75%;
        border-radius: 20px;
    }

    #liLinkStyle {
        float: left;
        text-decoration: none;
        text-align: center;
        border: 2px solid #ff3a47;
        width: 64px;
        height: 75%;
        border-radius: 20px;
    }

    #errorWrong {
        color: red;
        display: none;
    }

    #errorExists {
        color: red;
        display: none;
    }

    #mainform {
        margin: 20px auto;
        height: 260px;
        width: 80%;
        border: 2px solid red;
        border-radius: 20px;
        text-align: center;

    }

    .xbtn {
        margin: 0 5px;
    }

    .rbtn {
        margin: 0 10px;
    }

    #buttonblockX {
        margin: 10px auto;
        width: 100%;
    }

    #spinnerBlock {

    }

    #buttonblockR {

    }

    p {
        margin: 5px auto;
    }

    canvas {
        border: 2px solid red;
        border-radius: 20px;
    }

    #table {
        width: 400px;
        height: 200px;
        overflow: auto;
    }

    .sc-chPdSV {
        display: none !important;
    }

    .cOaGrx {
        display: none !important;
    }

}